{
    "openapi": "3.0.0",
    "info": {
        "title": "Korecha E-commerce API",
        "description": "This is the API documentation for the Korecha E-commerce platform. It provides all the necessary endpoints and models for interacting with the system.",
        "contact": {
            "name": "Korecha E-commerce Support",
            "email": "support@Korecha-ecommerce.com"
        },
        "license": {
            "name": "Apache 2.0",
            "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
        },
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "http://api.Korecha-ecommerce.com",
            "description": "Production Server"
        },
        {
            "url": "http://staging-api.Korecha-ecommerce.com",
            "description": "Staging Server"
        }
    ],
    "paths": {
        "/api/auth/sign-up": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Register user",
                "operationId": "c0872f8f652a5f05f5bc5ecd7eb1d4a0",
                "parameters": [
                    {
                        "name": "role",
                        "in": "query",
                        "description": "Role of the user. If 'supplier' is selected, additional company information fields are required.",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "customer",
                                "supplier"
                            ]
                        },
                        "example": "customer"
                    },
                    {
                        "name": "firstName",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "John"
                    },
                    {
                        "name": "lastName",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "Doe"
                    },
                    {
                        "name": "email",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "email"
                        },
                        "example": "user@example.com"
                    },
                    {
                        "name": "phone",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "123-456-7890"
                    },
                    {
                        "name": "sex",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "male",
                                "female"
                            ]
                        },
                        "example": "male"
                    },
                    {
                        "name": "address",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "123 Main St"
                    },
                    {
                        "name": "password",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "password"
                        },
                        "example": "password123"
                    },
                    {
                        "name": "password_confirmation",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "password"
                        },
                        "example": "password123"
                    },
                    {
                        "name": "companyName",
                        "in": "query",
                        "description": "Required if role is 'supplier'.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "example": "Example Company"
                    },
                    {
                        "name": "description",
                        "in": "query",
                        "description": "Required if role is 'supplier'.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "example": "Company description"
                    },
                    {
                        "name": "companyEmail",
                        "in": "query",
                        "description": "Required if role is 'supplier'.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "email"
                        },
                        "example": "company@example.com"
                    },
                    {
                        "name": "companyPhone",
                        "in": "query",
                        "description": "Required if role is 'supplier'.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "example": "123-456-7890"
                    },
                    {
                        "name": "country",
                        "in": "query",
                        "description": "Required if role is 'supplier'.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "example": "USA"
                    },
                    {
                        "name": "city",
                        "in": "query",
                        "description": "Required if role is 'supplier'.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "example": "New York"
                    },
                    {
                        "name": "companyAddress",
                        "in": "query",
                        "description": "Required if role is 'supplier'.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "example": "456 Business Rd"
                    },
                    {
                        "name": "agreement",
                        "in": "query",
                        "description": "Required if role is 'supplier'.",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        },
                        "example": true
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Successful registration",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "user": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "firstName": {
                                                    "type": "string",
                                                    "example": "John"
                                                },
                                                "lastName": {
                                                    "type": "string",
                                                    "example": "Doe"
                                                },
                                                "email": {
                                                    "type": "string",
                                                    "example": "user@example.com"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "token": {
                                            "type": "string",
                                            "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/auth/sign-in": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Login user",
                "operationId": "a7d8eb56b2d191fc23e7f346f4d0dd2f",
                "parameters": [
                    {
                        "name": "email",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "email"
                        },
                        "example": "user@example.com"
                    },
                    {
                        "name": "password",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "password"
                        },
                        "example": "password123"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful login",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "token": {
                                            "type": "string",
                                            "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "example": "Unauthorized"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/auth/me": {
            "get": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Get authenticated user",
                "operationId": "9392fee05bff1ebdef7215807a1796aa",
                "responses": {
                    "200": {
                        "description": "Authenticated user data",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "id": {
                                            "type": "integer",
                                            "example": 1
                                        },
                                        "firstName": {
                                            "type": "string",
                                            "example": "John"
                                        },
                                        "lastName": {
                                            "type": "string",
                                            "example": "Doe"
                                        },
                                        "email": {
                                            "type": "string",
                                            "example": "user@example.com"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/auth/logout": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Logout user",
                "operationId": "69281b12abb272c76871f19cb17ca563",
                "responses": {
                    "200": {
                        "description": "Successfully logged out",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Successfully logged out"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        }
    },
    "components": {
        "schemas": {
            "LoginRequest": {
                "required": [
                    "email",
                    "password"
                ],
                "properties": {
                    "email": {
                        "description": "The user's email address",
                        "type": "string",
                        "format": "email",
                        "example": "newsolutions@gmail.com"
                    },
                    "password": {
                        "description": "The user's password",
                        "type": "string",
                        "format": "password",
                        "example": "secret"
                    }
                },
                "type": "object"
            },
            "ErrorResponse": {
                "properties": {
                    "message": {
                        "description": "Error message",
                        "type": "string",
                        "example": "An error occurred"
                    },
                    "code": {
                        "description": "Error code",
                        "type": "integer",
                        "example": 400
                    }
                },
                "type": "object"
            }
        },
        "securitySchemes": {
            "bearerAuth": {
                "type": "http",
                "scheme": "bearer",
                "bearerFormat": "JWT",
                "description": "Enter your Bearer token in the format: Bearer <token>"
            }
        }
    },
    "tags": [
        {
            "name": "Authentication",
            "description": "Authentication"
        }
    ],
    "security": [
        {
            "bearerAuth": []
        }
    ]
}